/*Main Color Control*/
:root {
  --col-white: #fff;
  --col-1: rgb(182, 117, 240);
  --col-2: rgb(57, 85, 230);
  --col-bg: rgb(51, 47, 62);
  --col-bg2: rgb(74, 67, 93);
}

/*Text Color Override*/
body {
  color: var(--col-1);
  background-color: var(--col-bg);
}

/*Override Bootstrap form colors*/
.form-control {
  color: var(--col-1);
	background: var(--col-bg2);
}


.form-control:focus {
  color: var(--col-white);
  background: var(--col-1);
}

.btn {
  background-color: var(--col-2);
  border-color: var(--col-2);
}

.btn:focus, .btn:hover {
  background-color: var(--col-1);
}
/*Hide scenes by default*/
.scene {
  display: none;
  border-style: solid;
  padding: 50px;
  border-color: var(--col-1));
}

/*Character creation image*/
.default {
  display: block;
  margin: auto;
  height: auto;
  width: 100%;
}

.blockquote {
  border-left-color: var(--col-1);
}
